@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100%;
  background-image: url('assets/img/networkArtistBackGround.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.logo{
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  padding-top: 1rem;
  transition: opacity 1s;
}
.btn{
  position: absolute;
  bottom: 1rem;
  left: 49.5%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  padding: 1px 15px 1px 15px;
  border-radius: 5px;
  color: white;
  font-family: OpenSans, sans-serif;
  font-size: 0.8rem;
}

.btn:hover {
  background-color: white;
  color: #002B4F;
}



