@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'aos/dist/aos.css';


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=OpenSans:wght@100&display=swap');



body{
  font-family: 'Lato', sans-serif;
}

h1, h2{ font-family: 'OpenSans', sans-serif; }


.bg {

  background-image: url('assets/img/networkArtistBackGround.png');
}
body {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  opacity: 1.0;
  -webkit-transition: background 4.5s linear;
  -moz-transition: background 4.5s linear;
  -o-transition: background 4.5s linear;
  -ms-transition: background 4.5s linear;
  transition: background 4.5s linear;
}
.logo{
  display: flex;
  justify-content: center;
  height: 90vh;
  width: 100vw;
  padding-top: 1rem;
  transition: opacity 1s;
}
.btn{
  position: absolute;
  bottom: 1rem;
  left: 49.5%;
  transform: translateX(-50%);
  border: 1px solid #ccc;
  padding: 1px 15px 1px 15px;
  border-radius: 5px;
  color: white;
  font-family: OpenSans, sans-serif;
  font-size: 0.8rem;
}


.my-rotate-y-180{
  transform: rotateY(180deg);
}
.btn:hover {
  background-color: white;
  color: #002B4F;
}



